<!-- Page Header Start -->
{{#if page}}
<div class="container-fluid bg-secondary mb-5 py-2">
    <div class="d-flex flex-column justify-content-center px-xl-5">
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Trang chủ</a></p>
            <p class="m-0 px-2">></p>
            <p class="m-0">{{page}}</p>
        </div>
    </div>
</div>
{{/if}}
<!-- Page Header End -->