
<head>
  <style>
    div{
      margin-bottom: 10px;
    }
  </style>
</head>

<div class="pl-5" style="padding-left: 20%; padding-top: 40px">

  <form action="" method="post">
    <div class="form-row">
      <div class="forms-layouts col-md-3">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
         <option selected>Id người dùng</option>
         {{#each id}}
        <option value={{this.id}}>{{this.id}}</option>
        {{/each}}
        </select>
        <label>Full Name</label>
        <input type="text" class="form-control" name="name" placeholder="Full Name">
      </div>
      {{!-- <div>
        <label>Birthday</label></br>
        <input name="Birthday" type="date">
      </div> --}}
      <div>
        <label class="radio-inline">
          <input type="radio" value=1 name="optradio" checked>Nam
        </label>
        <label class="radio-inline">
          <input type="radio" value=2 name="optradio">Nữ
        </label>
        <label class="radio-inline">
          <input type="radio" value=3 name="optradio">Unisex
        </label>
      </div>
      <div class="forms-layouts col-md-3">
        <label>Phone Number</label>
        <input id="phoneNumber" name="phoneNumber" type="number" class="form-control" placeholder="Phone Number">
      </div>
      <div class="forms-layouts col-md-3">
        <label>Email</label>
        <input name="email" type="email" class="form-control" placeholder="Email">
      </div>
      <div class="forms-layouts col-md-6">
        <label>Avatar</label>
        <input name="avatar" type="text" class="form-control" placeholder="Picture">
      </div>
      <div class="form-group col-md-6">
        <label>Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Address</label>
      <input name="address" type="text" class="form-control" placeholder="City"><br>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
</div>
<div class="form-group">
</div>
</form>
</div>